body{
    background-image: url("newback.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Allerta Stencil', sans-serif;
    color: #FAB3A9;
}
h1{
    text-align: center;
    font-size: 54px;
    opacity: 0.8;
    color: #FAB3A9;
}
p{
    text-align: center;
    font-size: 24px;
    color: #FAB3A9;
}
.jumbo{
    border: 1px solid #5F0F40;
    background: #5F0F40;
}
#timerSpot{
    background: #5F0F40;
    padding: 10px;
    text-align: center;
    color: rgb(211, 81, 64);
}
#questionBox{
    border: 4px solid #5F0F40;
    background: #5F0F40;
    padding: 50px;
    text-align: center;
    color: #FAB3A9;
}
#answerButton , #startButton, #resetButton{
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
    color: rgb(211, 81, 64);
}
#starting{
    border: 2px solid rgb(211, 81, 64);
}